Repository MS269/react-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -uw --cache, stylelint --cache --fix, eslint --cache --fix

feat: add tailwind
  .postcssrc
  .prettierrc
  .stylelintrc
  README.md
  package.json
  src/main.css
  src/main.tsx
  tailwind.config.js
  yarn.lock
Due: prettier -uw --cache, stylelint --cache --fix, eslint --cache --fix

chore: add .vscode
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
Due: prettier -uw --cache

feat: add react-router-dom and import resolver alias and update no import React
  .eslintrc
  package.json
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/main.css
  src/pages/login/login.tsx
  src/pages/sign-up/sign-up.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier -uw --cache, stylelint --cache --fix, eslint --cache --fix

style: update naming
  src/App.tsx
  src/pages/login/index.tsx
  src/pages/sign-up/index.tsx
Due: prettier -uw --cache, eslint --cache --fix

fix: fix vite.config.ts resolve alias
  vite.config.ts
Due: prettier -uw --cache, eslint --cache --fix

chore: update yarn to npm
  .husky/pre-commit
  package-lock.json
  package.json
  yarn.lock
Due: prettier -uw --cache

feat: style Login and SignUp pages
  src/App.tsx
  src/main.css
  src/pages/Login.tsx
  src/pages/SignUp.tsx
  src/pages/login/index.tsx
  src/pages/sign-up/index.tsx
Due: prettier -uw --cache, stylelint --cache --fix, eslint --cache --fix

refactor: use more semantic proporties
  src/pages/SignUp.tsx
Due: prettier -uw --cache, eslint --cache --fix

Path conditions:
  prettier -uw --cache: any of: *
  stylelint --cache --fix: any of: *.css
  eslint --cache --fix: any of: *.{ts,tsx}
